<header>
  <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h1>
  <p class="meta">
    {{ post.date | date: "%b %-d, %Y" }}
  </p>
  <p class="meta-right">
	Reading in {{ post.content | reading_time_as_i | downcase }}
  </p>
</header>
<div class="entry-content">
  {% unless page.url contains post.url %}
  {{ post.content | strip_html | truncatewords:70 }}
  <p class="read-more"><a href="{{ post.url }}">Read more</a></p>
  {% else %}
  {{ post.content }}
  {% endunless%}
</div>
